$space-background-color: rgb(22, 16, 58);
$orbit-border: 0.1vw dashed #2b2369;
$orbit-hidden: 0.1vw dashed transparent;
$font-color: white;
// variable to determine position of close button depending on width of screen 
$screen-widths: (1200px, 57.5%), (1000px, 57%), (850px, 56.5%), (700px, 56%), (675px, 55.5%), (550px, 54%);


// variable for @mixin orbit($top, $left, $width, $height, $duration, $z-index)
$planet-orbits: 
('mercury', 16vw, 18vw, 21vw, 21vw, 20s, 90), 
('venus', 12.25vw, 14.5vw, 28vw, 28vw, 40s, 80), 
('earth', 9vw, 11vw, 35vw, 35vw, 60s, 70), 
('mars', 5.25vw, 7.5vw, 42.5vw, 42.5vw, 80s, 60), 
('jupiter', -7vw, -4vw, 68vw, 68vw, 120s, 40), 
('saturn', -15vw, -11vw, 85vw, 85vw, 140s, 30), 
('uranus', -22.5vw, -17vw, 100vw, 100vw, 160s, 20), 
('neptune', -32vw, -27vw, 120vw, 120vw, 180s, 10);


// variable for @mixin position($top, $left, $height, $width) 
$planet-positions: 
('mercury', 2vw, 1.8vw, 2.2vw, 2.2vw), 
('venus', 2vw, 3vw, 3vw, 3vw), 
('earth', 3vw, 4.1vw, 3.2vw, 3.2vw), 
('mars', 10vw, 1vw, 2.5vw, 2.5vw),
('jupiter', 11vw, 3vw, 7vw, 7vw), 
('saturn', 9vw, 2vw, 14vw, 14vw), 
('uranus', 20.5vw, 6vw, 4vw, 4vw), 
('neptune', 22.5vw, 9.5vw, 3.8vw, 3.8vw);

// speed of planets and asterroids orbitting the sun
$speed: 0.5, 1, 2;

